<style>
  tr > td:nth-child(7){
    text-align:right;
    font-weight: bold;
    color:red;
  }
  tr > td:nth-child(8){
    text-align:right;
    font-weight: bold;
    color:blue;
  }
</style>
<tbody>
    <% @temp_m = 0 %>
    <% @movements.each do |movement| %>
    <tr id="<%= movement.id %>">
        <td><%= movement.concepto_de_pago %></td>
        <td><%= movement.reference %></td>
        <td><%= movement.date.strftime('%d/%m/%Y') %></td>
        <td> <%= movement.date.strftime('%B %Y') %></td>
        <td><%= movement.detail %></td>
        <td><%= Category.find(movement.category_id).name %></td>
        <td><%= number_to_currency(movement.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
        <td><%= number_to_currency(movement.deposit, locale: :es, separator: '.', delimiter: ',') %></td>
        <% @m = movement.deposit + movement.withdrawal %>
        <% @temp_m += @m %>
        <td><%= number_to_currency( @temp_m , locale: :en, separator: '.', delimiter: ',') %></td>
        <%= link_to raw("<i class='material-icons md-18'>edit</i>"), edit_user_account_movement_path(current_user,params[:account_id],movement.id),remote:true ,class:"btn btn-raised btn-info edition" %>
        <%= link_to raw("<i class='material-icons md-18'>delete_sweep</i>"), user_account_movement_path(current_user, params[:account_id], movement.id),class:"btn btn-raised btn-warning edition", method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
    <%end%>
</tbody>

<style>
tfoot > tr > td{
  font-size: 30px;
  font-weight:bold;
  font-family: Serif, Georgia;
  color:black;
}
tfoot > tr{
  background-color: whitesmoke; 
}
tfoot > tr:hover{
  background-color: #EEE;
}
</style>

<tfoot>
    <tr>
    <td colspan="7">Total:</td>
    <td colspan="2"><%=number_to_currency(@temp_m, locale: :es, separator: '.', delimiter: ',') %></td>
    </tr>
</tfoot>