<tbody id="view">

    <% @temp_m = 0 %>
    <% @movements.each do |movement| %>

    <tr id="<%= movement.id %>">

        <td ><div id="add<%= movement.id %>" style="display: block;" class="add"><i class="material-icons icAdd">add_circle_outline</i></div><%= movement.concepto_de_pago %></td>
        <td><%= movement.reference %></td>
        <td><%= movement.date.strftime('%d/%m/%Y') %></td>
        <td> <%= ApplicationRecord.month(movement.date) %></td>
        <td><%= movement.detail %></td>
        <td><%= Category.find(movement.category_id).name %></td>
        <td><%= number_to_currency(movement.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
        <td><%= number_to_currency(movement.deposit, locale: :es, separator: '.', delimiter: ',') %></td>
        <% @m = movement.deposit + movement.withdrawal %>
        <% @temp_m += @m %>
        <td>
          <div id="n<%= movement.id %>" style="display:block; position:absolute; opacity:0; pointer-events:none;">
              <%= link_to raw("<i class='material-icons md-24'>edit</i>"), edit_user_account_movement_path(current_user,params[:account_id],movement.id),remote:true ,class:"btn btn-raised btn-info edition", style: "margin-right: 20px;" %>
              <%= link_to raw("<i class='material-icons md-24'>delete_sweep</i>"), user_account_movement_path(current_user, params[:account_id], movement.id),class:"btn btn-raised btn-warning edition", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <%= number_to_currency( @temp_m , locale: :en, separator: '.', delimiter: ',') %>
        </td>

    </tr>
    <%end%>

</tbody>

<tfoot>
    <tr>
    <td colspan="7">Total:</td>
    <td colspan="2"><%=number_to_currency(@temp_m, locale: :es, separator: '.', delimiter: ',') %></td>
    </tr>
</tfoot>

<script>
  $(document).ready(function(){
    $("tbody > tr").click(function(event){ 
      var left = "95px";
      var id = $(this).attr("id");
      if ($("tr#"+ id +" td:last-child").width() > 100)
        var left = "140px"

      $("div #add" + id).css("pointer-events","auto").animate({"opacity":"1","margin-left":"-45px"},500);
      $("div#n"+id).css("pointer-events","auto").animate({"opacity":"1","margin-left":left});

      $("tbody > tr").click(function(event){ 
        $("div #add" + id).css("pointer-events","none").animate({"opacity":"0","margin-left":"0"},500);
        $("div#n"+id).css("pointer-events","none").animate({"opacity":"0","margin-left":"0"},500);
      });
    });

/*No lo borres sirve muy bien*/
    // $("tbody > tr").mouseover(function(event){ 
    //   var id = $(this).attr("id");
    //   $("div #add" + id).css("pointer-events","auto").animate({"opacity":"1","margin-left":"-45px"},500);
    //   $("div#n"+id).css("pointer-events","auto").animate({"opacity":"1","margin-left":"110px"});
    // });

    // $("tbody > tr").mouseout(function(event){ 
    //   var id = $(this).attr("id");
    //   $("div #add" + id).css("pointer-events","none").animate({"opacity":"0","margin-left":"0"},500);
    //   $("div#n"+id).css("pointer-events","none").animate({"opacity":"0","margin-left":"0"},500);
    // });
/*No lo borres sirve muy bien*/
/*!   !   !   !   !   !   !   !   !*/
  });
</script>