<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-15">
  <div class="well bs-component">
<%= form_for :movement, url: user_account_movement_path(@movement.id), method: :patch do |f| %>
  <% if @movement.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@movement.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @movement.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :concepto_de_pago %>
    <%= f.text_field :concepto_de_pago ,class: 'form-control' %>
  </div>
  <div class="field">
        <%= f.label :reference %>
        <%= f.text_field :reference ,class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :date %>Año-mes-dia
        <%= f.text_field :date ,class: 'form-control' %>
        <!-- <%= f.text_field :date, "data-provide"=> "datepicker"%> -->
      </div>

      <div class="field">
        <%= f.label :detail %>
        <%= f.text_field :detail ,class: 'form-control' %>
      </div>



      <div class="actions">
        <%= f.submit class: "btn btn-primary" ,value:"Guardar"%>
      </div>
    <% end %>
  </form>
  </div>
  </div>
