<style>
.btn{
padding-top: 0;
padding-bottom: 0;
align-items: center;
font-size: 12px;
}
th{
  text-align: center;
  font-family: fantasy;
  font-size: 15px;
}
td{
  text-align: center;
}
h1{
  padding-bottom: 0;
  padding-top: -10px;
}
.boton_creado{
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left:80%;
  width: auto;
}
</style>
<p id="notice"><%= notice %></p>
<h1>Movimientos de ...</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr class="success">
      <th>Concepto de pago</th>
      <th>Reference</th>
      <th>Date</th>
      <th>Detail</th>
      <th>Category</th>
      <th>Cuenta</th>
<th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.concepto_de_pago %></td>
        <td><%= movement.reference %></td>
        <td><%= movement.date %></td>
        <td><%= movement.detail %></td>
        <td><%= movement.account_id %></td>
        <td><%= movement.user_id %></td>
        <td><%= link_to 'Edit', edit_user_account_movement_path(session[:user_id],:account_id,movement.id) ,class:"btn btn-raised btn-info" %></td>
        <td><%= link_to 'Destroy', user_account_movement_path(session[:user_id],:account_id,movement.id),class:"btn btn-raised btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %></td>


</tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="boton_creado">
<%= link_to 'New Movement', new_user_account_movement_path(session[:user_id]),class:'btn btn-primary' ,style: 'align:center;padding:15px 15px 15px 15px!important;' %>
</div>
