<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
.btn{
padding-top: 0;
padding-bottom: 0;
align-items: center;
font-size: 12px;
}
th{
  text-align: center;
  font-family: fantasy;
  font-size: 15px;
}
td{
  text-align: center;
}
h1{
  padding-bottom: 0;
  padding-top: -10px;
}
.boton_creado{
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left:80%;
  width: auto;
}
</style>
<p id="notice"><%= notice %></p>

<% @cuenta = Account.find(params[:account_id])%>
<h1>Movimientos de <%= @cuenta.name %></h1>
<table class="table table-striped table-hover ">
  <thead>
    <tr class="success">
      <th>Concepto de pago</th>
      <th>Referencia</th>
      <th>Fecha</th>
      <th>Mes</th>
      <th>Detalle</th>

      <th>Categoria</th>

      <th>deposito</th>
      <th>retiro</th>
      <th>total</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
       <%= render "row", movement: movement  %>
    <% end %>
  </tbody>
</table>

<br>

  <div class="container">
  <div class="center">
    
  <%= link_to '<<Egreso Nuevo Movimiento', new_user_account_movement_path(current_user),remote:true,class:'btn btn-primary' ,style: 'align:center;padding:15px 15px 15px 15px!important;' %>

  <%= link_to '>>Ingreso Nuevo Movimiento', new_user_account_movement_path(current_user),remote:true,class:'btn btn-primary' ,style: 'align:center;padding:15px 15px 15px 15px!important;' %>

  <%= link_to '~ Neutro Nuevo Movimiento', new_user_account_movement_path(current_user),remote:true,class:'btn btn-primary' ,style: 'align:center;padding:15px 15px 15px 15px!important;' %>
  </div>
  </div>
