<style>
    th {
        padding: 10px 25px;
    }
    td {
        padding: 10px 25px;
        text-align: center;
        background: white;
    }
    tbody tr:hover td {
        background: #cfd8dc !important;
    }
    .btn_child {
        border-radius: 50px;
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 5%;
        left: 10px;
    }
    .btn_child i.material-icons {
        font-size: 60px;
        margin-left: -20px;
        margin-top: 2px;
    }
    .btn_child:hover {
        background: #00bfa5 !important;
    }
    tr > td:nth-child(7) {
        text-align: right;
        font-weight: bold;
        color: rgba(214, 13, 13, 0.86);
        background-color: rgba(214, 13, 13, 0.20);
    }
    tr > td:nth-child(8) {
        text-align: right;
        font-weight: bold;
        color: rgba(13, 154, 214, 0.86);
        background-color: rgba(13, 154, 214, 0.20);
    }
    .search {
        position: fixed;
        left: 2px;
        top: 12%;
        color: white;
        background: #03A8F2;
        width: 60px;
        height: 60px;
        border-radius: 75px;
        float: left;
        cursor: pointer;
    }
    .search i.material-icons {
        padding-left: 0;
        padding-top: 0;
        font-size: 60px;
    }
    .search:hover {
        background: #614381;
    }
    .btn {
        width: 300px;
        height: 50px!important;
        align-items: center;
    }
    #dropdown-pa {
        position: fixed;
        right: 2px;
        top: 10%;
        color: white;
        background: #614381;
        float: left;
        cursor: pointer;
    }
    /*ESTILOS DE ICONOS DE PORCENTAJE */
    input#porcentaje.form-control {
        width: 20px;
    }
    input.input-group-addon {
        width: 10px !important;
    }
</style>
<% @movi =  Account.find(params[:account_id]).movements.find(params[:id]) %>
<table>
    <thead>
        <th>Concepto de Pago</th>
        <th>Referencia</th>
        <th>Fecha</th>
        <th>Mes</th>
        <th>Detalle</th>
        <th>Categoria</th>
        <th style="color:rgba(214, 13, 13, 0.86);">Retiro</th>
        <th style="color:rgba(13, 154, 214, 0.86);">Deposito</th>
        <th>Total</th>
    </thead>
    <tbody>
        <tr>
            <td><%= @movi.concepto_de_pago %></td>
            <td><%= @movi.reference %></td>
            <td><%= @movi.date.strftime('%d/%m/%Y') %></td>
            <td><%= ApplicationRecord.month(@movi.date) %></td>
            <td><%= @movi.detail %></td>
            <td><%= Category.find(@movi.category_id).name %></td>
            <td><%= number_to_currency(@movi.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
            <td><%= number_to_currency(@movi.deposit, locale: :es, separator: '.', delimiter: ',') %></td>
            <td><%= number_to_currency(@movi.deposit - @movi.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
        </tr>
    </tbody>
</table>
<!-- ************************ -->
<br>
<br>

<% @movi_co=  Account.find(params[:account_id]).movements.find(params[:id]).movement_parents %>

<div class="row">

    <div class="col-md-6">
        <% unless @movi_co.blank?%>
        <% @movi_iva = @movi_co.where('movement_parent == ? and iva == ?', params[:id], true)%>
        <% unless @movi_iva.nil? %>
        <table>
            <thead>
                <tr>
                    <th colspan="3">Subtotal e IVA</th>
                </tr>
                <tr>
                    <th>Concepto de Pago</th>
                    <th style="color:rgba(13, 154, 214, 0.86);" colspan="2">Monto</th>
                </tr>
            </thead>
            <tbody>
                <% @movi_iva.each do |t|%>
                <% unless (t.movement_child).nil? %>
                <% @mostrar_hijos = Movement.find(t.movement_child) %>
                <tr>
                    <td><%= @mostrar_hijos.concepto_de_pago%></td>
                    <td style="text-align: right;font-weight: bold;color: rgba(214, 13, 13, 0.86);background-color: rgba(214, 13, 13, 0.20);"><%= number_to_currency(@mostrar_hijos.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
                    <td style="text-align: right;font-weight: bold;color: rgba(13, 154, 214, 0.86);background-color: rgba(13, 154, 214, 0.20);"><%= number_to_currency(@mostrar_hijos.deposit, locale: :es, separator: '.', delimiter: ',') %></td>
                </tr>
              <% end %>
              <% end %>
            </tbody>
        </table>
        <% end %>
<%end%>
    </div>
    <!-- cierre de columna -->

    <div class="col-md-6">
      <% @sub_temp = 0 %>
        <% @movi_child = @movi_co.where('movement_parent == ? and iva == ?', params[:id], false)%>
        <% unless @movi_child.blank? %>
        <table>
            <thead>
                <tr>
                    <th colspan="4">Sub Movimientos</th>
                </tr>
                <tr>
                    <th>Concepto de Pago</th>
                    <th style="color:rgba(13, 154, 214, 0.86);" colspan="2">Monto</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% @movi_child.each do |t|%>
                <% unless (t.movement_child).blank? %>
                <% @mostrar_hijos_2 = Movement.find_by(id:t.movement_child) %>
                <% unless @mostrar_hijos_2.blank? %>
                <% @m = @mostrar_hijos_2.deposit - @mostrar_hijos_2.withdrawal %>
                <tr>
                    <td><%= @mostrar_hijos_2.concepto_de_pago%></td>
                    <td style="text-align: right;font-weight: bold;color: rgba(214, 13, 13, 0.86);background-color: rgba(214, 13, 13, 0.20);"><%= number_to_currency(@mostrar_hijos_2.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
                    <td style="text-align: right;font-weight: bold;color: rgba(13, 154, 214, 0.86);background-color: rgba(13, 154, 214, 0.20);"><%= number_to_currency(@mostrar_hijos_2.deposit, locale: :es, separator: '.', delimiter: ',') %></td>
                    <td><%= @sub_temp += @m %></td>
                    <td style="background-color:rgba(0, 0, 0, 0.0)">
                      <div style="position:absolute; margin-top:-20px; margin-left:-4em"><%=link_to raw("<i class='material-icons md-24'>edit</i>"), edit_user_account_movement_path(current_user,params[:account_id],@mostrar_hijos_2.id),remote:true ,class:"btn btn-raised btn-info edition", style: "width:25px; height:25px !important;" %>
                        <div style="position:relative; margin-left:4em; margin-top:-45px;">
                          <%=link_to raw("<i class='material-icons md-24'>delete_sweep</i>"), user_account_movement_path(current_user, params[:account_id], @mostrar_hijos_2.id),class:"btn btn-raised btn-warning edition",style: "width:25px; height:25px !important;", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                      </div>
                    </td>
                </tr>
                <% end %>
                <% end %>
                <% end %>
            </tbody>
        </table>
        <% end %>
    </div>
    <!-- cierre de columna  -->

</div>
<!-- cierre de row  -->
<div class="row">
  <% @balance = (@movi.deposit - @movi.withdrawal) - @sub_temp %>
  <% if @balance != 0 %>
    <p><h1 style="color:red; font-weight:bold">Balance:</h1><h2 style="color:blue">Faltan <%= number_to_currency(@balance, locale: :es, separator: '.', delimiter: ',')%></h2></p>
  <% end %>
</div>

<div class="">
    <div class="search" id="boton_agregar">
        <!-- IVA -->
        <i class="material-icons">monetization_on</i>
    </div>
    <div class="search" id="boton_movements" style="top:24%">
        <!-- MOVEMENT CHILD -->
        <i class="material-icons">business</i>
    </div>
</div>

<!-- DIV pertenece a IVA -->
<div class="panel panel-info" id="iva-porc" style="display:none; position:absolute;top:15%;">
    <div class="panel-heading">
        <h3 class="panel-title center" style="font-weight: bold;">IVA</h3>
    </div>
    <div class="panel-body">
        <%= form_tag( add_movement_child_path(@movi) , method: "post") do %>
        <% amount =  @movi.deposit - @movi.withdrawal %>
        <% subtotal =  (amount / 1.16).round(2)  %>
        <% iva =  (amount - subtotal).round(2) %>

        <div class="input-group">
            <%= label_tag(:subtotal, "Subtotal:") %>
            <span class="input-group-addon">$</span>
            <%= text_field_tag :subtotal, nil, autocomplete: :off, value: subtotal, class: "form-control" %>
        </div>

        <div class="input-group" id="yo">
            <label id="porcentaje" class="input-group-addon" style="color: black">
                <b>Iva:</b>
            </label>
            <%#= label_tag(:porcentaje, "Iva:") %>
            <%= text_field_tag :porcentaje, nil, autocomplete: :off, value: 16 , class: "form-control", size: 3%>
            <span class="input-group-addon yo" style="padding: 0;">%</span>
        </div>

        <div class="input-group">
            <%= label_tag(:iva, "Se aplica un iva de:") %>
            <span class="input-group-addon">$</span>
            <%= text_field_tag :iva, nil, autocomplete: :off, value: iva, class: "form-control" %>
        </div>

        <div class="field center">
            <%= submit_tag("Aplicar", class: "btn btn-primary") %>
        </div>
        <% end %>
    </div>
</div>
<!-- DIV pertenece a IVA -->

<!-- creating movement -from- movement -->
<div class="panel panel-info" id="movements" style="display: none; position:absolute;top:15%;z-index: 2;">
    <div class="panel-heading">
        <h3 class="panel-title center" style="font-weight: bold;">Agregar Movimiento</h3>
    </div>
    <div class="panel-body">

        <%= form_tag( add_register_path(@movi), method: "post") do %>
        <%= hidden_field_tag('account_id', params[:account_id]) %>
        <%= hidden_field_tag('user_id', params[:user_id]) %>

        <div class="field">
            <%= label_tag( :concepto_de_pago, "Concepto de pago") %>
            <%= text_field_tag :concepto_de_pago, nil ,class: 'form-control', size: 40 %>
        </div>

        <div style="width:7em" class="horizontal">
            <%= label_tag(:reference, "Referencia") %>
            <%= text_field_tag( :reference, nil ,class: 'form-control', placeholder:"Sin referencia", autocomplete: :off) %>
        </div>

        <div class="input-group date horizontal" style="width: 5.5em">
            <%= label_tag(:date, "Fecha") %>
            <%= text_field_tag( :date, nil, class: 'form-control', "data-provide" => "datepicker", "data-date-language" => 'es', "data-date-today-highlight" => true, "data-date-today-btn" => true,autocomplete: :off) %>
        </div>

        <div class="field">
            <%= label_tag(:detail, "Detalles") %>
            <%= text_field_tag( :detail, nil ,class: 'form-control', size: 40, autocomplete: :off) %>
        </div>

        <div class="field" style="width: 10em; top:20px;">
            <%= label_tag(:category_id, "Categoria")%>
            <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name") %>
        </div>

        <div class="field" style="width: 6em">
            <%= label_tag(:withdrawal, "Retiro")%>
            <%= text_field_tag( :withdrawal, nil, size: 10, class: 'form-control dig', value: 0, autocomplete: :off) %>
        </div>

        <div style="width: 6em">
            <%= label_tag(:deposit, "Deposito")%>
            <%= text_field_tag( :deposit, nil, class: 'form-control dig', size: 10, value: 0, autocomplete: :off) %>
        </div >


    <!-- cierre panel body -->

    <div class="field center">
        <%= submit_tag("Crear", class: "btn btn-primary") %>
    </div>
  <% end %>
</div>

</div>

<%= link_to raw("<i class='material-icons' style='margin-top:10px!important; margin-left:8px!important;'>backspace</i>"), user_account_movements_path(current_user,params[:account_id]), class: ' btn-primary btn_child', style:"bottom:
20%;height:80px!important; width:80px!important; border-radius:50%; bottom:5%" %>

<script>
    $(document).ready(function () {
        $("#boton_agregar").click(function () {
            $("#iva-porc").toggle();
        });
        $("#boton_movements").click(function () {
            $("#movements").toggle();
        });
    });
</script>
