<style>
th{
  padding: 10px 25px;
}
td{
  padding: 10px 25px;
  text-align: center;
  background: white;
}
tbody tr:hover td{
  background: #cfd8dc !important;
}
.btn_child{
  border-radius: 50px;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 5%;
  left: 10px;
}
.btn_child i.material-icons{
  font-size:60px;
  margin-left:-20px;
  margin-top: 2px;
}
.btn_child:hover{
  background:#00bfa5 !important;
}
tr > td:nth-child(7) {
  text-align: right;
  font-weight: bold;
  color:rgba(214, 13, 13, 0.86);
  background-color: rgba(214, 13, 13, 0.20);
}
tr > td:nth-child(8) {
  text-align: right;
  font-weight: bold;
  color:rgba(13, 154, 214, 0.86);
  background-color: rgba(13, 154, 214, 0.20);
}
</style>
<% @movi =  Account.first.movements.find(params[:id]) %>
<table>
  <thead>
    <th>Concepto de Pago</th>
    <th>Referencia</th>
    <th>Fecha</th>
    <th>Mes</th>
    <th>Detalle</th>
    <th>Categoria</th>
    <th style="color:rgba(214, 13, 13, 0.86);">Retiro</th>
    <th style="color:rgba(13, 154, 214, 0.86);">Deposito</th>

  </thead>
  <tbody>
    <tr>
      <td><%= @movi.concepto_de_pago %></td>
      <td><%= @movi.reference %></td>
      <td><%= @movi.date.strftime('%d/%m/%Y') %></td>
      <td><%= ApplicationRecord.month(@movi.date) %></td>
      <td><%= @movi.detail %></td>
      <td><%= Category.find(@movi.category_id).name %></td>

    </tr>
  </tbody>
</table>

<%= link_to raw("<i class='material-icons'>add_to_photos</i>"), create_clone_user_account_movement_path(current_user,params[:account_id]),remote:true, class: 'btn btn-primary btn_child'%>
<%= link_to raw("<i class='material-icons'>backspace</i>"), user_account_movements_path(current_user,params[:account_id]), class: 'btn btn-primary btn_child', style:"bottom: 20%;" %>
