<% provide(:title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
<% provide(:title, @user.name) %>

<script src="material.js"></script>
<br>
<br>
<br>
<h1>Mas graficas</h1>
<h1>Mas graficas</h1>
<h1>Mas graficas</h1>
<div class="center">
<%= link_to "Resumen Año #{Time.now.strftime('%Y')}", current_record_user_history_movements_path(current_user) , class: "btn btn-user btn-primary" %>

<%= link_to "Registros  anteriores", previous_record_user_history_movements_path(current_user), class: "btn btn-user btn-primary" %>

  <%= link_to 'Crear Movimiento', user_accounts_path(@user), class: "btn btn-user btn-primary" %>
</div>
