<style type="text/css">
	.search {
		position: fixed;
		left: 2px;
		top: 12%;

		color: white;
background: #03A8F2;

		width: 80px;
		height: 80px;
		border-radius: 75px;
		float: left;
		cursor: pointer;
	}
	.search i.material-icons {
		padding-left: 0;
		padding-top: 0;
		font-size: 80px;
	}
.search:hover{
	background: #614381;

}
	.btn {
		width: 300px;
		height: 50px!important;
		align-items: center;

	}
#dropdown-pa{
	position: fixed;
	right: 2px;
	top: 10%;

	color: white;
	background: #614381;

	float: left;
	cursor: pointer;
}


</style>

<% provide(:title, "Proveedor de Registros Antiguos") %>
<h1>Log de movimientos realizados</h1>
<div style="display: block; width: 100%; margin:10px;">
	<!-- <h1><%= params[:since] %></h1> -->
	<div class="btn-group" id="dropdown-pa">

		<a href="bootstrap-elements.html" data-target="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:9em">
	<!-- <a class="btn btn-info" style="width: 6.8em">Filtrar -->
Filtrar
	<span class="caret"></span>
			<div class="ripple-container"></div>
<!-- </a> -->
</a>
		<ul class="dropdown-menu">
			<li>
				<a><%=link_to "2016", :since => "2016-01-01", :until => "2016-12-31" %></a>
			</li>
			<li>
				<a><%=link_to "2015", :since => "2015-01-01", :until => "2015-12-31" %></a>
			</li>
			<li>
				<a><%=link_to "2014", :since => "2014-01-01", :until => "2014-12-31" %></a>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a><%=link_to "All", current_record_user_history_movements_path(current_user)%></a>
		</li>
	</ul>
</div>
</div>

<div class="panel panel-info" id="search-form" style="display:none; position:absolute;top:15%;">
<div class="panel-heading">
	<h3 class="panel-title center" style="font-weight: bold;">Buscar</h3>
</div>
<div class="panel-body">

	<%= form_tag(previous_record_user_history_movements_path(current_user), method: "get") do %>
	<div class="field">
		<%= label_tag(:since, "Buscar desde:") %>
		<%= text_field_tag :since, nil, class: 'form-control', "data-provide" => "datepicker", "data-date-language" => 'es', "data-date-today-highlight" => true, "data-date-today-btn" => true,autocomplete: :off %>
	</div>
	<div class="field">
		<%= label_tag(:until, "Buscar hasta:") %>
		<%= text_field_tag :until, nil, id:"tdl",class: 'form-control', "data-provide" => "datepicker", "data-date-language" => 'es', "data-date-today-highlight" => true, "data-date-today-btn" => true,autocomplete: :off %>
	</div>
	<div class="field center">
		<%= submit_tag("Search", class: "btn btn-primary") %>
	</div>
	<% end %>
</div>
</div>



<div class="search" id="search">
<i class="material-icons">search</i>
</div>

<% unless params[:since].blank? %>
<table class="table table-striped table-hover center">
<thead>
	<tr>
		<th>Cuenta</th>
		<th>Concepto de pago</th>
		<th>Referencia</th>
		<th>Fecha</th>
		<th>Mes</th>
		<th>Detalle</th>
		<th>Categoria</th>
		<th>Retiro</th>
		<th>Deposito</th>
		<th>Saldo</th>
		<!-- <th style="color:rgba(214, 13, 13, 0.86);">Retiro</th>
		<th style="color:rgba(13, 154, 214, 0.86);">Deposito</th>
		<th style="color:rgba(13, 214, 51, 0.86);">Saldo</th> -->
	</tr>
</thead>

<tbody>

	<% @temp_m = 0 %>
	<% @history.each do |previous| %>
	<tr>
		<td><%= Account.find(previous.account_id).name %></td>
		<td><%= previous.concepto_de_pago %></td>
		<td><%= previous.reference %></td>
		<td><%= previous.date.strftime('%d/%m/%Y') %></td>
		<!--        Esta fecha es la de cuando se registro -->
		<td>
			<%= ApplicationRecord.month(previous.date) %></td>
		<!-- Crear espacio para fecha en que se reporto el retiro o deposito -->
		<td><%= previous.detail %></td>
		<td><%= Category.find(previous.category_id).name %></td>
		<td><%= number_to_currency(previous.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
		<td><%= number_to_currency(previous.deposit, locale: :es, separator: '.', delimiter: ',') %></td>

		<!-- <td style="background-color:rgba(214, 13, 13, 0.20);font-weight: bold;"><%= number_to_currency(previous.withdrawal, locale: :es, separator: '.', delimiter: ',') %></td>
		<td style="background-color:rgba(13, 154, 214, 0.20);font-weight: bold;"><%= number_to_currency(previous.deposit, locale: :es, separator: '.', delimiter: ',') %></td> -->
		<% @m = previous.deposit + previous.withdrawal %>
		<% @temp_m += @m %>
		<td><%= number_to_currency( @temp_m , locale: :en, separator: '.', delimiter: ',') %></td>
		<!-- mandar a llamar Financial Statement -->

	</tr>
	<% end %>

</tbody>

</table>
<% end %>

</div>
<!-- </div> -->

<script>
$(document).ready(function () {
	$("#search").click(function () {
		$("#search-form").toggle(900);
	});
});
</script>
