<div class="body-wrap">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#323131!important;" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to image_tag("http://www.codealab.mx/assets/codeacamp_logo3-d00e28326ca4ba35c48d58af090ee7df.png", alt: "logo", size:"175x75"), root_path, class: 'navbar-brand '%>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <% if logged_in? %>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons" style="display: inline-flex; vertical-align: middle;font-size:33px;">assessment</i>
                                Categorias
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Ver Categorias",  user_categories_path(current_user) %></li>
                                <li><%= link_to 'Añadir Categoria', new_user_category_path(current_user),remote: true %></li>

                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons" style="display: inline-flex; vertical-align: middle;font-size:33px;">account_balance_wallet</i>
                                Cuentas Bancarias
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Ver Cuentas", user_accounts_path(current_user) %></li>
                                <li><%= link_to 'Añadir cuenta', new_user_account_path(current_user),remote: true %></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons" style="display: inline-flex; vertical-align: middle;font-size:33px;">account_circle</i>
                                User
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Profile", current_user %></li>
                                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                                <li class="divider"></li>
                                <li>
                                    <%= link_to "Log out", logout_path, method: "delete" %>
                                </li>
                            </ul>
                        </li>

                    <% else %>
                        <li><%= link_to "Log in", login_path %></li>
                        <% end %>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>

<script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>
