<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %><!-- agrega el parcial de IE  -->
  </head>
  <body>
    <%= render 'layouts/header' %><!-- agrega el parcial de header -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %><!-- agrega el parcial de footer -->
    </div>
  </body>
</html>
