<div class="col-md-15">
  <div class="well bs-component">
<%= form_for :account, url: user_account_path(@account.id), method: :patch do |f| %>
  <% if @account.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@account.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name ,class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class:'btn btn-primary', value:"Guardar"%>
  </div>
  <% end %>
  </div>
  </div>
